.u-section-1 .u-sheet-1 {
  min-height: 988px;
}

.u-section-1 .u-text-1 {
  font-size: 6rem;
  font-weight: 700;
  margin: 61px auto 0;
}

.u-section-1 .u-image-1 {
  width: 386px;
  height: 386px;
  background-image: url("../img/imgMain/1.png");
  background-position: 50% 50%;
  margin: 30px auto 0;
}
.u-image-2 {
  width: 386px;
  height: 386px;
  background-position: 50% 50%;
  margin: 30px auto 0;
}

.u-section-1 .u-text-2 {
  font-weight: 400;
  width: 570px;
  margin: 31px auto 0;
}

.u-section-1 .u-text-3 {
  font-weight: 300;
  line-height: 1.8;
  width: 739px;
  margin: 20px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 961px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-3 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1061px;
  }

  .u-section-1 .u-text-1 {
    font-size: 4.5rem;
    width: auto;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1041px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 340px;
  }
}