@import "component/screen-header.css";
@import "component/tab-bar.css";

@import "screen/main.css";
@import "screen/recipe.css";
@import "screen/whereToEat.css";
@import "screen/comment.css";

@import "reset.css";

a {
  text-decoration: none;
  color: inherit;
}

.main__screen {
  padding: 0px 0px 0px 100px;
  line-height: 25px;
}
