	 .u-section-1 {
  background-image: 
  linear-gradient(0deg, rgba(41,46,51,0.5), rgba(41,46,51,0.5)), 
  url("resoures/img/imgMain/66c444a200aa47c0a5b81a9a4edf052cb1550887a4aec7ac2d35e5ea07822597cef2d7408644f9bc8a96527376cc9ac6594b5cda6d8aaf132de9f5_1280.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 865px;
}

.u-section-1 .u-text-1 {
  text-shadow: 4px 4px 8px rgba(66,84,101,0.4);
  font-family: Lato, sans-serif;
  font-size: 12.25rem;
  font-weight: 700;
  letter-spacing: 3px;
  background-image: none;
  margin: 277px -40px 0;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 1.125rem;
  background-image: none;
  margin: 82px auto 60px;
  padding: 20px 55px 21px 54px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 758px;
  }

  .u-section-1 .u-text-1 {
    text-transform: none;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 747px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 603px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 680px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 252px;
    margin-left: 19px;
    margin-right: 19px;
    font-size: 1.875rem;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 24px;
  }
} .u-section-2 {
}

.u-section-2 .u-sheet-1 {
  min-height: 987px;
}

.u-section-2 .u-image-1 {
  width: 276px;
  height: 276px;
  background-image: url("resources/img/imgMain/no.png");
  background-position: 50% 50%;
  margin: 60px auto 0 112px;
}

.u-section-2 .u-image-2 {
  width: 276px;
  height: 276px;
  background-image: url("resources/img/imgMain/no.png");
  background-position: 50% 50%;
  margin: -276px auto 0 112px;
}

.u-section-2 .u-image-3 {
  width: 669px;
  height: 669px;
  background-image: url("resources/img/imgMain/map.png");
  background-position: 50% 50%;
  margin: -258px 38px 0 auto;
}

.u-section-2 .u-image-4 {
  width: 621px;
  height: 621px;
  background-image: url("../img/imgMain/cate.png");
  background-position: 50% 50%;
  margin: -411px auto 0 45px;
}

.u-section-2 .u-shape-1 {
  width: 119px;
  height: 119px;
  margin: -604px auto 0 104px;
}

.u-section-2 .u-shape-2 {
  width: 250px;
  height: 250px;
  margin: 90px 65px 60px auto;
}

@media (max-width: 1199px) {
  .u-section-2 .u-image-1 {
    margin-top: 209px;
  }

  .u-section-2 .u-image-3 {
    margin-top: -440px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 777px;
  }

  .u-section-2 .u-image-3 {
    width: 540px;
    height: 540px;
    margin-right: 0;
  }

  .u-section-2 .u-image-4 {
    width: 540px;
    height: 540px;
    margin-top: -282px;
    margin-left: 0;
  }

  .u-section-2 .u-shape-1 {
    margin-top: -523px;
  }

  .u-section-2 .u-shape-2 {
    margin-bottom: 0;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 377px;
  }

  .u-section-2 .u-image-1 {
    margin-left: 64px;
  }

  .u-section-2 .u-image-2 {
    margin-left: 64px;
  }

  .u-section-2 .u-image-3 {
    width: 340px;
    height: 340px;
  }

  .u-section-2 .u-image-4 {
    width: 340px;
    height: 340px;
    margin-top: -82px;
  }

  .u-section-2 .u-shape-1 {
    margin-top: -323px;
  }
}