 .u-section-1 {
  background-image: url("../img/imgMain/c813be9ce139f19d85250208ac8fd2b1.jpeg");
  background-position: 50% 100%;
}

.u-section-1 .u-sheet-1 {
  min-height: 703px;
}

.u-section-1 .u-shape-1 {
  width: 486px;
  height: 423px;
  margin: 47px auto 0 84px;
}

.u-section-1 .u-image-1 {
  width: 472px;
  height: 423px;
  box-shadow: 0 0 40px 0 rgba(145,127,107,0.8);
  margin: -389px auto 0 53px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-size: 13.75rem;
  line-height: 1;
  margin: -78px 0 0;
}

.u-section-1 .u-group-1 {
  width: 426px;
  min-height: 261px;
  height: auto;
  margin: -553px 53px 60px auto;
}

.u-section-1 .u-container-layout-1 {
  padding-bottom: 0;
}

.u-section-1 .u-shape-2 {
  width: 153px;
  height: 145px;
  background-image: none;
  margin: -39px auto 0 -40px;
}

.u-section-1 .u-text-2 {
  margin: -86px 20px 0;
}

.u-section-1 .u-text-3 {
  margin: 20px 20px 0;
}

@media (max-width: 1199px) {
   .u-section-1 {
    background-position: 96.1% 100%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 637px;
  }

  .u-section-1 .u-shape-1 {
    width: 396px;
    height: 414px;
    margin-top: 62px;
  }

  .u-section-1 .u-image-1 {
    width: 402px;
    height: 424px;
    margin-top: -364px;
  }

  .u-section-1 .u-group-1 {
    margin-top: -573px;
    margin-right: 0;
    height: auto;
  }

  .u-section-1 .u-shape-2 {
    width: 126px;
    height: 131px;
    margin-top: -25px;
    margin-left: -33px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-1 .u-text-3 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    background-position: 100% 100%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 745px;
  }

  .u-section-1 .u-shape-1 {
    width: 331px;
    height: 370px;
    margin-left: 32px;
  }

  .u-section-1 .u-image-1 {
    width: 320px;
    height: 375px;
    margin-top: -322px;
  }

  .u-section-1 .u-text-1 {
    font-size: 12rem;
    margin-top: 88px;
  }

  .u-section-1 .u-group-1 {
    width: 312px;
    min-height: 505px;
    margin-top: -717px;
  }

  .u-section-1 .u-shape-2 {
    width: 130px;
    height: 120px;
    margin-top: -14px;
    margin-left: -25px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 13px;
    margin-right: 13px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1174px;
  }

  .u-section-1 .u-shape-1 {
    width: 408px;
    height: 341px;
    margin-top: 47px;
    margin-left: 36px;
  }

  .u-section-1 .u-image-1 {
    width: 409px;
    height: 332px;
    margin-top: -304px;
  }

  .u-section-1 .u-text-1 {
    font-size: 10.5rem;
    margin-top: 578px;
  }

  .u-section-1 .u-group-1 {
    width: 519px;
    min-height: 380px;
    margin-top: -699px;
  }

  .u-section-1 .u-shape-2 {
    width: 128px;
    margin-left: -19px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 9px;
    margin-right: 9px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    background-position: 87.58% 100%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 1163px;
  }

  .u-section-1 .u-shape-1 {
    width: 325px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-1 .u-image-1 {
    width: 309px;
    margin-left: 0;
  }

  .u-section-1 .u-text-1 {
    font-size: 6rem;
    margin-top: 658px;
  }

  .u-section-1 .u-group-1 {
    width: 309px;
    min-height: 505px;
    margin-top: -712px;
  }

  .u-section-1 .u-shape-2 {
    width: 129px;
    margin-left: -12px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 6px;
    margin-right: 6px;
  }
}