@charset "UTF-8";

.main__screen {
  background-color: #f9f9f9;
}
.main__screen-content {
  padding: 60px 60px 0px 60px;
  background-color: white;
}

.main__screen-picture {
  margin-top: 25px;
}
.main__screen-picture img {
  width: 100%;
}

.main__screen-column {
  display: flex;
}
.main__screen-left {
  width: 60%;
  padding-right: 60px;
}
.main__screen-right {
  width: 40%;
  display: flex;
  justify-content: flex-end;
  margin-top: 17px;
}

.main__screen-left-menu {
  font-size: 12px;
  color: rgba(0, 0, 0, 0.3);
  margin-top: 40px;
}
.main__screen-left-title {
  font-size: 48px;
  padding: 15px 0px;
  font-weight: bold;
  margin-bottom: 10px;
}
.main__screen-left-content {
  padding: 10px 0px;
}
.main__screen-left-content p {
  margin: 20px 0px;
  font-size: 17px;
  line-height: 30px;
}
.main__screen-right-contry {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
.main__screen-right-location {
  margin-top: 20px;
}
.main__screen-right-contry img {
  width: 50px;
  height: 30px;
  margin-left: 10px;
}
.main__screen-right-location img {
  width: 200px;
  height: 300px;
}
