


<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>setEmailChk</title>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>

<script type="text/javascript">

	function auth() {
		var name = $("#nickname").val()
		var email = $('#email').val()
		var form = {
			name : name,
			email : email
		}

		$.ajax({
			url : "auth", //컨트롤러 ==고고
			type : "post",
			dataType : "json",
			data : JSON.stringify(form),
			contentType : "application/json; charset=utf-8",
			success : function(msg) {
				console.log(msg)
				if (msg == true) {
					alert("이메일 인증코드를 발송하였습니다.")
				}
			},
			error : function() {
				alert('이메일 인증코드발송에 실패하였습니다.')
			}

		})
	}

	function checkCode() {
		var emailCode = $("#email_auth").val()

		$.ajax({
			url : "checkVal/" + emailCode,
			type : "post",
			dataType : "json",
			contentType : "application/json; charset=utf-8",
			success : function(data) {
				if (data == 1) {
					$("#authCheck").html("인증되었습니다.")
					
		
				}
			},
			error : function() {
				$("#authCheck").html("다시 진행해주세요.")
			}
		})
		
	}
	
</script>
</head>
<body>
	<form name="userRegisterForm" id="userRegisterForm" method="POST" action="naverRegister">

		<input type="hidden" id="email" name="email" value="${email}" /> 
		<input type="hidden" id="nickname" name="name" value="${nickname}" /> 
		<input type="hidden" id="pwd" name="pwd" value="${id}">
		<input type="hidden" id="id" name="id" value="${id }">
		<input type="hidden" id="naverlogin" name="naverlogin" value="${id}">
		<table>
			<thead>
				<tr>
					<th colspan="3">신규 가입 추가 정보 설정</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td class="text">이메일 인증하기</td>
				</tr>
				<tr>
					<td><input type="button" value="인증코드보내기" onclick="auth()"></td>
				</tr>
				<tr>
					<td><input type="text"id="email_auth" name="email_auth"
						placeholder="코드 입력"></td>
				</tr>
				<tr>
					<td><input type="button" value="인증하기" onclick="checkCode()"></td>
				</tr>
				<tr>
					<td><label id="authCheck"></label><br></td>
				</tr>
				<tr>
					<td><input type="submit" value="가입">
						</td>
				</tr>
			</tbody>
		</table>
	</form>
</body>
</html>